---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Download Sidekyk">
	<main class="lg:h-screen grid grid-cols-1 lg:grid-cols-2">
		<section></section>
		<section></section>
	</main>
</Layout>

<style>
	section {
		@apply w-full h-screen lg:h-full flex flex-col items-center justify-center gap-3;
	}
</style>
