---
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";

if (Astro.request.method == "post") {
	try {
		const data = await Astro.request.formData();
		const email = data.get("email");
		const password = data.get("password");
	} catch (e) {}
}
---

<Layout title="Sign In">
	<main class="max-w-xs min-h-screen lg:min-h-[85vh] flex flex-col items-center justify-center mx-auto">
		<div class="self-start space-y-2 mb-2">
			<h2 class="text-2xl font-medium">Sign In</h2>
			<p class="text-sm text-zinc-600 dark:text-zinc-500">Enter your account credentials to continue</p>
		</div>
		<form class="flex flex-col gap-3 mt-4 w-full" method="POST">
			<div class="input-field">
				<label>Email</label>
				<Input name="email" type="email" required />
			</div>

			<div class="input-field">
				<label for="id">Password</label>
				<Input name="password" type="password" id="password" required minlength="6" />
			</div>

			<Button type="submit" class="mt-5">Sign In</Button>
		</form>
	</main>
</Layout>
