<footer class="app-border top py-12 lg:py-8 px-6">
	<div class="text-xs flex flex-wrap justify-center gap-6 mb-6">
		<a href="/pricing">Pricing</a>
		<a href="/faq">FAQs</a>
		<a href="mailto:ayodeji@trulyao.dev">Contact us</a>
		<a href="/privacy-policy">Privacy policy</a>
		<a href="/terms">Terms</a>
	</div>
	<p class="text-xs text-center">Built by <a href="https://trulyao.dev" target="_blank">Ayodeji</a></p>
</footer>
